  <div class="quiz-box">
      <div class="share-box">
        <div class="share-quiz-button-email">
          <a
            href="mailto:?Subject=Take my Quiz Please&body=http://localhost:8080/takeQuiz/<%= quiz.id%>"
            ><i class="fa-solid fa-envelope"></i> </a
          >
          <div class="share-quiz-button-reddit">
            <a
              href="https://reddit.com/submit?url=http://localhost:8080/takeQuiz/<%= quiz.id%>&title=Quizzy"
              id="reddit"
              class="share-btn reddit"
              ><i class="fa-brands fa-reddit"></i
            ></a>
          </div>
          <div class="share-copy-clipboard">
            <a href="#" id="copy-link" class="copy-link" onclick ="myFunction(<%= quiz.id%>)"><i class="fa-solid fa-clipboard"></i></a>
          </div>
        </div>
      </div>
      <div class="left-box">
        <div class="quiz-name"><td><%= quiz.title%></td></div>
        <div class="quiz-creator">Created By: <%= quiz.name%></div>
        <img class="quiz-image" src=<%= quiz.image_url %>>
      </div>
      <div class="quiz-stats">Quiz Attempts: <%=quiz.attempts%> Average Score: <%=quiz.average%></div>
      <div class="quiz-description"><%= quiz.description%></div>
      <div class="right-box">
        <form action="/takeQuiz/<%= quiz.id %>">
          <div class="take-quiz-button">
            <button
              type="submit"
              id="take-quiz"
              class="btn btn-outline-primary"
            >
              Take Quiz
            </button>
          </div>
        </form>
      </div>
    </div>



